:root {
    --task_bg: rgb(194, 108, 108);
    --task_header_bg: #797daf;
    --task_rounded_block: #E7E5E5;
    --task_answer_bg: #E7E5E5;
    --task_answer_btn_bg: #E7E5E5;
    --task_button_next: #53A318;
}